{{ if eq .Site.Language.LanguageName "Japanese" }}
<div class="entry-sub-content bd-callout bd-callout-info request-for-entry">
    <h5>記事の内容に関連した相談、仕事依頼したい</h5>
    <p>記事の内容やクラウドネイティブ技術に関する相談、仕事依頼。※OpenShiftなどRed Hat製品など本業と競合する内容はお断りすることがあります。<br/><a href="/work">仕事依頼、相談をしてみる</a></p>
</div>
{{ end }}
<div class="entry-sub-content bd-callout bd-callout-info request-for-entry">
    <h5>{{ i18n "feedback-title" }}</h5>
    <p>{{ i18n "feedback-description" }}<br/><a href="https://docs.google.com/forms/d/e/1FAIpQLSfvDsTxSsz2xRodgkYSXP8l-bpS39LIOoKrZwja8W_YWJRA7A/viewform?entry.853982869={{ .Title }}" target="_blank" onClick="gtag('event', 'link', {'event_category': 'contact-to-entry','event_label': '{{ .Title }}'});">{{ i18n "feedback-link" }}</a></p>
</div>