body {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 105%;
}

.keyword {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
}

.keyword:hover {
    text-decoration: none;
}

.post-description {
    line-height: 1.5em !important;
}

.brand-title, .content-subhead {
    text-transform: none;
}

.sidebar {
    background-color: #002A38;
}

.post-description {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    color: #333;
    line-height: 1.35em;
}

.post-share-links h4 {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    margin: 0 0 5px;
    color: #aaa
}

.pure-g [class*=pure-u],button,html,input,select,textarea {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.brand-title,.nav-item a,.post-title {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
