body {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 105%;
}

.post h1, .post h2, .post h3, .post h4, .post h5 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.post h3 {
    border-bottom: dotted 1px #ddd;
}

.post-title {
    font-size: 1.5em;
}

.post-description {
    margin-top: 20px;
}

.post-description table th {
    background: #f5f5f5;
    font-weight: bold;
}

.post-description table th, .post-description table td {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.post-description pre {
    padding: 15px;
}

.post-description h1 {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    line-height: 1em;
    font-size: 1.8em;
}

.post-description img {
    max-width: 100%;
}

.post-category {
    background: #b7b7b7;
    border-radius: 10px;
}

.post-meta {
    line-height: 1.6em;
}

.read-more-link {
    margin-top: 10px;
}

.sidebar {
    background-color: #112235;
}

.keyword {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
}

.keyword:hover {
    text-decoration: none;
}

.post-description {
    line-height: 1.5em !important;
}

.brand-title, .content-subhead {
    text-transform: none;
}

.brand-title, h1 {
    font-size: 1.8em;
}

.sidebar {
    background-color: #002A38;
}

.post-description {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    color: #333;
    line-height: 1.35em;
}

.post-share-links h4 {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    margin: 0 0 5px;
    color: #aaa
}

.pure-g [class*=pure-u],button,html,input,select,textarea {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.brand-title,.nav-item a,.post-title {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.google-search-engine {
    width: 300px;
}
.gsc-control-cse * {
    box-sizing: content-box;
}
.gsc-input {
    line-height: 1;
}
.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0 !important;
}

.footer-hr {
    border: 0;
    margin: 30px 0;
    border-bottom: 1px solid #ddd;
}

.post-share-links {
    border: none;
    padding: 0;
}

.latest-posts {
    margin-bottom: 15px;
}

.latest-posts h5 {
    margin-bottom: 3px;
}

/* hatena blog amazon product css */
.hatena-asin-detail {
    padding: .8em .6em;
    border: 1px solid #ddd;
}

.hatena-asin-detail .hatena-asin-detail-image {
    float: left;
    margin-right: 15px;
}

.hatena-asin-detail {
    margin: 1em 0;
    border-image: initial;
    font-size: 90%;
    display: block;
}

.hatena-asin-detail .hatena-asin-detail-title {
    margin-top: 0;
    font-weight: 700;
    margin: 0 0 .3em;
}

.hatena-asin-detail p {
    text-indent: 0;
}

.hatena-asin-detail ul {
    margin: 0;
    padding: 0;
}

.post-description .hatena-asin-detail li {
    line-height: 1.4;
}

.hatena-asin-detail ul li {
    list-style: none;
}

.hatena-asin-detail .hatena-asin-detail-foot {
    clear: left;
}
