<div class="entry-sub-content request-for-entry">
    <h5>内容の深堀り・質問(β)</h5>
    <p>本記事に対して、執筆者に聞きたいことやもっと深堀りして教えてほしいこと、デモンストレーション希望などがあれば<a href="https://coconala.com/services/1716358" target="_blank" onClick="gtag('event', 'link', {'event_category': 'coconala','event_label': '{{ .Title }}'});">ココナラで対応</a>ができます。ぜひご活用ください。</p>
</div>
<div class="entry-sub-content request-for-entry">
    <h5>記事へのフィードバック</h5>
    <p>本記事に対して、フィードバックあればこちらのフォームからご記入ください。<a href="https://docs.google.com/forms/d/e/1FAIpQLSfvDsTxSsz2xRodgkYSXP8l-bpS39LIOoKrZwja8W_YWJRA7A/viewform?entry.853982869={{ .Title }}" target="_blank" onClick="gtag('event', 'link', {'event_category': 'contact-to-entry','event_label': '{{ .Title }}'});">フォードバックしてみる</a></p>
</div>