<div class="entry-sub-content bd-callout bd-callout-info request-for-entry">
    <h5>記事の内容に関連した相談、仕事依頼したい <span class="badge badge-info">New</span></h5>
    <p>記事の内容やクラウドネイティブ技術に関する相談、仕事依頼を開始しました。<br/><a href="/work">仕事依頼、相談をしてみる</a></p>
</div>
<div class="entry-sub-content bd-callout bd-callout-info request-for-entry">
    <h5>記事へのフィードバック</h5>
    <p>本記事に対して、フィードバックあればこちらのフォームからご記入ください。<br/><a href="https://docs.google.com/forms/d/e/1FAIpQLSfvDsTxSsz2xRodgkYSXP8l-bpS39LIOoKrZwja8W_YWJRA7A/viewform?entry.853982869={{ .Title }}" target="_blank" onClick="gtag('event', 'link', {'event_category': 'contact-to-entry','event_label': '{{ .Title }}'});">記事の内容にフィードバックしてみる</a></p>
</div>